<head>
  <meta charset="utf-8" />
  <title>Example App</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  {{{navbar}}}
  <div class="padre">
    <h3 id="username">username</p>
  </div>
  
  {{{body}}}
</body>

<script src="../socket.io/socket.io.js"></script>
<script src="/javascript/main.js"></script>
