<div class="padre"><h2>Vista: home</h2></div>
<div class="padre">
  <a href="/login">LOGIN</a>
  <a href="/logout">LOGOUT</a>
</div>

<div class="padre">
  <div class="form">
    <h3>Formulario para agregar Productos</h3>
    <form action="/productos" method="post">
      <label for="fname">Nombre del Producto</label>
      <input type="text" name="title" />

      <label for="fname">Precio</label>
      <input type="text" name="price" />

      <label for="fname">Imagen Url</label>
      <input type="text" name="imgUrl" />

      <input type="submit" />

    </form>
  </div>
</div>
<div class="padre">
  <a href="/productos">ver productos</a>
</div>
<div class="padre">
  <a href="/liveProducts">vista dinamica de productos</a>
</div>
<div class="padre">
  <a href="/chat">Chat</a>
</div>