<div class="padre"><h2>Vista: home</h2></div>

<div class="padre">
  <div class="form col-5">
    <h3>Formulario para agregar Productos</h3>
    <form action="/productos" method="post">
      <label for="fname">Nombre del Producto</label>
      <input type="text" name="title" />

      <label for="fname">Precio</label>
      <input type="text" name="price" />

      <label for="fname">Imagen Url</label>
      <input type="text" name="imgUrl" />

      <div class="col-3">
        <button type="submit" class="btn btn-primary mb-2">submit</button>
      </div>

    </form>
  </div>
</div>