<html>
  <head>
    <meta charset="utf-8" />
    <title>vista</title>
  </head>
  <body>
    -vista: handlebars
    {{{body}}}
    {{#each products}}
      <p>Titulo: {{title}}</p>
      <p>Precio: {{price}}</p>
      <p>ImgUrl: {{imgUrl}}</p>
      <br/>
    {{/each}}

    <a href="/">volver al inicio</a>
  </body>
</html>