<div class="padre"><h2>Vista: Productos</h2></div>
{{{body}}}
<div class="padre">
  {{#each products}}
    <div class="producto">
      <p>Titulo: {{title}}</p>
      <p>Precio: {{price}}</p>
      <p>ImgUrl: {{imgUrl}}</p>
      <br />
    </div>
  {{/each}}
</div>
<div class="padre">
<a href="/">volver al inicio</a>
</div>