body {
  background-color: rgb(230, 230, 230);
}

div.padre {
  display: flex;
  justify-content: left;
  margin-left: 40px;
}

div.producto {
  background-color: #383838;
  border: 1px solid rgb(73, 73, 73);
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

div.form {
  background-color: #383838d1;
  border: 1px solid rgb(116, 116, 116);
  color: white;

  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin: 20px;

  border-radius: 10px;
}


input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

a {
    background-color: #989fdd;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px;
}
/* unvisited link */
a:link {
  color: rgb(0, 255, 149);
}

/* visited link */
a:visited {
  color: rgb(30, 32, 36);
}

/* mouse over link */
a:hover {
  color: rgb(32, 207, 123);
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
}

* {
  font-family: sans-serif;
}

div.chatBox {
  display: flex;
  background-color: #38383832;
  flex-direction: row;
  font-family: sans-serif;
}

p.usernameStyle {
  font-family: sans-serif;
  font-weight: bolder;
  color: #0f2edd;
  padding-left: 10px;
}

p.chatTextStyle {
  font-family: sans-serif;
  font-weight: bold;
  color: #686d8a;
  padding-left: 10px;
}

p.dateTextStyle {
  font-size: small;
  font-family: sans-serif;
  color: #494c5c;
  padding-left: 10px;
  padding-right: 10px;
}


